---
import VGenLogo from '../assets/vgen-logo-outline.svg';
import InstagramLogo from '../assets/instagram-logo-outline.svg';
import XLogo from '../assets/x-logo-outline.svg';

const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} Danielle Spantosicus. All rights reserved.
	<div class="social-links">
		<a href="https://vgen.co/Spantosicus_" target="_blank" rel="noopener noreferrer">
			<span class="sr-only">Go to DanielleSpantosicus's VGen profile</span>
			<img src={VGenLogo.src} alt="VGen Icon" loading="lazy"/>
		</a>

		<a href="https://www.instagram.com/spantosicus/" target="_blank" rel="noopener noreferrer">
			<span class="sr-only">Follow DanielleSpantosicus on Instagram</span>
			<img src={InstagramLogo.src} alt="Instagram Icon" loading="lazy">
		</a>

		<a href="https://x.com/Spantosicus_" target="_blank" rel="noopener noreferrer">
			<span class="sr-only">Follow DanielleSpantosicus on X</span>
			<img src={XLogo.src} alt="X Icon" loading="lazy">
		</a>	
	</div>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
	.social-links svg,
	.social-links img {
		width: 32px;
		height: 32px;
		display: block;
	}
</style>
